<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Form</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Request Form</h1>
    <form action="/addRequest" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>

        <label for="request">Request:</label>
        <textarea id="request" name="request" required></textarea><br>

        <button type="submit">Submit</button>
    </form>

    <h2>Requests List</h2>
    <ul>
        <% requests.forEach((item, index) => { %>
            <li>
                <strong>Name:</strong> <%= item.name %><br>
                <strong>Email:</strong> <%= item.email %><br>
                <strong>Request:</strong> <%= item.request %><br>
                <form class = "doneButton" action="/delete/<%= index %>" method="post" style="display:inline;">
                    <button type="submit">Tamamlandı</button>
                </form>
            </li>
        <% }) %>
    </ul>
</body>
</html>
